body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}

.acoes button {
    margin-right: 5px;
    cursor: pointer;
}

.baixa { border-left: 5px solid green; }
.media { border-left: 5px solid orange; }
.alta { border-left: 5px solid red; }